_src/Chapter09/splitter/src/main/app/Splitter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="SplitterFlow1" doc:name="SplitterFlow1">
        <file:inbound-endpoint path="D:\OrdersData\Input" responseTimeout="10000" doc:name="File"/>
        <splitter expression="#[xpath:shiporder/shipto/city]" doc:name="Splitter"/>
        <file:outbound-endpoint path="C:\Documents and Settings\azazdesai\Desktop\Output" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
